
<ol id="ns-section-selector">
  <li>
    <a data-scroll href="#ns-section-vin">VIN Number</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-options">Options/Trim</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-mileage">Mileage</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-condition">Condition</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-zip">Zip Code</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-submit">Submit</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
</ol>
<!-- #ns-section-selector -->

<div id="ns-scroll-1">

  <section id="ns-section-vin" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="vin">
        <h3 class="title">Vin Number</h3>
        <input type="text" class="ns-section-input" placeholder="Enter Vin Number" ng-model="model.vin_number">
      </div>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- .ns-section-main .background-blue -->

  <section id="ns-section-options" class="ns-section-main">
    <div class="ns-section-wrapper">
      <h3 class="title">Options/Trim</h3>
      <div id="options">
        <select id="trim" class="ns-section-input" ng-disabled="model.trim_options.length == 0" ng-model="model.trim">
          <option ng-selected="{{model.trim_options.name == model.trim}}" ng-repeat="option in model.trim_options" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- .ns-section-main .background-red -->

  <section id="ns-section-mileage" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="mileage">
        <h3 class="title">Mileage</h3>
        <input type="text" class="ns-section-input" placeholder="Enter Mileage" ng-model="model.mileage">
      </div>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- .ns-section-main .background-yellow -->


  <section id="ns-section-condition" class="ns-section-main">
    <div class="ns-section-wrapper">
      <h3 class="title">Condition:</h3>
        <ul id="wrapper">
          <li><%= image_tag "acura.jpg"%><p>Damaged</p></li>
          <li><%= image_tag "acura.jpg"%><p>Roughly</p></li>
          <li><%= image_tag "acura.jpg"%><p>Average</p></li>
          <li><%= image_tag "acura.jpg"%><p>Clean</p></li>
          <li><%= image_tag "acura.jpg"%><p>Outstanding</p></li>
        </ul>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- .ns-section-main .background-black -->

  <section id="ns-section-zip" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="zipcode">
        <h3 class="title">Zipcode</h3>
        <input type="text" class="ns-section-input" placeholder="Enter your Zipcode">
      </div>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- .ns-section-main .background-yellow -->

  <section id="ns-section-submit" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div class="ns-section-wrapper">
        <div id="submit">
          <a href="#" class="ns-button ns-button-red ns-button-cta">See Your Results</a>
        </div>
      </div>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- .ns-section-main .background-red -->

</div>
<!-- #ns-scroll -->

