<div class="ns-section-main">
    <section>
      <div class="section-form background-blue">
        <div class="ns-section-wrapper">
          <div class="vinNumber">
            <h3 class="title">Vin Number</h3>
            <input type="text" class="form-control" id="input-form" placeholder="Enter Vin Number">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="section-form background-red">
        <div class="ns-section-wrapper">
          <h3 class="title">Options/Trim</h3>
          <div class="options">
            <select id="trim">
              <option value="0">Prestige</option>
              <option value="1">Premium</option>
              <option value="2">Standard</option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="section-form background-yellow">
        <div class="ns-section-wrapper">
          <div id="mileage">
            <h3 class="title">Mileage</h3>
            <input type="text" class="form-control" id="input-form" placeholder="Enter Mileage">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="section-form background-black">
        <div class="ns-section-wrapper">
          <h3 class="title">Condition:</h3>
          <div id="condition">
            <ul id="wrapper">
              <li>
                <%= image_tag "acura.jpg"%>
                <p>Damaged</p>
              </li>
              <li><%= image_tag "acura.jpg"%> <p>Roughly</p></li>
              <li><%= image_tag "acura.jpg"%> <p>Average</p></li>
              <li><%= image_tag "acura.jpg"%> <p>Clean</p></li>
              <li><%= image_tag "acura.jpg"%> <p>Outstanding</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="section-form background-yellow">
        <div class="ns-section-wrapper">
          <div id="zipcode">
            <h3 class="title">Zipcode</h3>
            <input type="text" class="form-control" id="input-form" placeholder="Enter your Zipcode">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="section-form background-red">
        <div class="ns-section-wrapper">
          <div id="submit">
            <input type="submit" class="submit-btn form-control" value="Submit">
          </div>
        </div>
      </div>
    </section>
</div>
  